<div class="uk-card uk-card-radius uk-card-default uk-card-body">
  <div class="uk-grid-match" uk-grid>
    <div class="uk-width-auto@m uk-width-1-1@s">
      <div class="uk-width-auto">
        {{#if user.thumbnailPhoto}}
        <img src="data:image/jpeg;base64, {{thumb}}" width="200px" alt="" class="uk-border-circle">
        {{else}}
        <img src="{{config.noAvatarIcon}}" width="200px" alt="">
        {{/if}}
      </div>
    </div>
    <div class="uk-width-expand@m uk-width-1-1@s">
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-text-bold uk-margin-remove">{{user.description}}</h3>
        <p class="uk-margin-remove uk-text-italic">{{user.title}}, {{user.department}}</p>
        <p></p>
        {{#if user.streetAddress}}
        <p class="uk-margin-remove"><span uk-icon="icon: location"></span> {{user.l}}, {{user.streetAddress}}</p>
        {{else}}
        <p class="uk-margin-remove"><span uk-icon="icon: receiver"></span> {{config.public.corporateAddress}}</p>
        {{/if}}
        {{#if user.pager}}
        <p class="uk-margin-remove"><span uk-icon="icon: receiver"></span> {{config.public.corporatePhone}},
          ({{user.pager}})</p>
        {{else}}
        <p class="uk-margin-remove"><span uk-icon="icon: receiver"></span> {{config.public.corporatePhone}}</p>
        {{/if}}
        {{#if user.mobile}}
        <p class="uk-margin-remove"><span uk-icon="icon: phone"></span> {{user.mobile}}</p>
        {{/if}}
        <p class="uk-margin-remove"><span uk-icon="icon: mail"></span> <a href="mailto:{{user.mail}}"
            class="uk-text-danger">{{user.mail}}</a></p>
        <p class="uk-margin-remove"><span uk-icon="icon: world"></span> <a
            href="https://{{config.public.corporateWebsite}}"
            class="uk-text-danger">{{config.public.corporateWebsite}}</a></p>
        <p class="uk-margin-small-top">
          {{#each messengers}}
          {{#if this}}
          <a href="{{this}}" target="_blank"><img src="/assets/outlook-signature/{{@key}}.jpg" width="30px"></a>
          {{/if}}
          {{/each}}
          {{#each socialLinks}}
          {{#if this}}
          <a href="{{this}}" target="_blank"><img src="/assets/outlook-signature/{{@key}}.jpg" width="30px"></a>
          {{/if}}
          {{/each}}
        </p>
        <p class="uk-margin">
          <a href="/vcfs/{{user.sAMAccountName}}.vcf" download="vCard - {{user.description}}.vcf"
            class="uk-button uk-button-vcard"><span uk-icon="icon: download"></span> vCard</a>
        </p>
      </div>
    </div>
  </div>
</div>